#discountcode::before {
    content: '✂';
    position: absolute;
    left: -.5em;
    rotate: 270deg;
    top: 2rem;
    font-size: larger;
}

#ifyouwouldliketo > .wrapper > .inner {
    --gutters: 0.5rem;
    --padding-vertical: 4.375rem;
    --spacing: 0.25rem;
    padding: 0px var(--padding-horizontal) var(--padding-vertical) var(--padding-horizontal) !important; 
}

.image.style8 img {
    object-fit: contain !important;
}

.style12.container.columns {
    min-height: unset !important;
}

@media (min-width: 480px) {
    #container25>.wrapper>.inner> :nth-child(2) {
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        left: 0;
    }
}

@media (max-width: 480px) {
    #container25>.wrapper>.inner> :nth-child(2)>h2 {
        max-width: 7em !important;
        min-width: 7em;
        display: block;
        text-align: left;
        font-size: 1.65em;
    }
}